

.nav{
    background-image:url('bgp.jpeg');
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.nav a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.nav a:hover {
    background-color: #ddd;
    color:black;
}

.heading {
    text-align:center;
}
.content {
    font-size: 20px;
}
.nav h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0px;
    padding: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
}
body {
    background-color: rgb(253, 213, 172); 
    
}


/* hotdrinks */
.hotdrinks .hotdrinks h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}



.hotdrinks .thumbnail-row2 {
    grid-template-rows: auto 1fr;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    transition: .2s ease-in-out;
    position: relative;
    margin: 35px;
    display: block;
    width: 320px;
    float: left; 
    height: 500px;
    padding: 10px;
}
.hotdrinks .thumbnail {
    float: left;
    position: relative;
    width: 320px;
    height: 330px;
    border-radius: 15px 15px 10px 10px;
    cursor: pointer;
}
.buy {
    background-color: rgb(180, 105, 8);
    border-style: solid;
    border-color: rgb(180, 105, 8);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.15;
    position: absolute;
}
.buy:hover {
    background-color: rgb(180, 105, 8);
    opacity: 0.8;
    color: black;
}
.hotdrinks .hd {
    color:  rgb(180, 105, 8);
}

/* hotdrinks end */


/* pasteries start */
.pasteries-section .hd {
    color:  rgb(180, 105, 8);
}
.pasteries-section .pasteries h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.pasteries-section .thumbnail-row2 {
    grid-template-rows: auto 1fr;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    transition: .2s ease-in-out;
    position: relative;
    margin: 35px;
    display: block;
    width: 320px;
    float: left; 
    height: 500px;
    padding: 10px;
}
.pasteries-section .thumbnail {
    float: left;
    position: relative;
    width: 320px;
    height: 330px;
    border-radius: 15px 15px 10px 10px;
    cursor: pointer;
}

/* pateries end */




/* coldrink start */
.coldrink .hd {
    color:  rgb(180, 105, 8);
}

.pasteries h4 {
    
}

.coldrink .thumbnail-row2 {
    grid-template-rows: auto 1fr;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    transition: .2s ease-in-out;
    position: relative;
    margin: 35px;
    display: block;
    width: 320px;
    float: left; 
    height: 500px;
    padding: 10px;
}
.coldrink .thumbnail {
    float: left;
    position: relative;
    width: 320px;
    height: 330px;
    border-radius: 15px 15px 10px 10px;
    cursor: pointer;
}
/* coldrink end */






h5 {
    font-weight: bolder;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.thumbnail-row2 p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav button {
    background-color: rgb(163, 95, 5);
    color: white;
    border: none;
    display: inline-table;
    margin: 10px;
    padding: 0px;
    margin-left: 90px;
}
.box img {
    float: left;
    display: block;
    width: 45px;
    border-radius: 70px;
    padding: 10px;
    grid-template-columns:1fr 100px 0px;
    
}

